body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#login-container, #video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h1 {
    margin: 20px 0;
}

input, button {
    margin: 10px;
    padding: 5px;
}

#video-container #localVideoContainer, #video-container #remoteVideosContainer {
    display: inline-block;
    margin: 10px;
}

video {
    width: 320px;
    max-height: 240px;
    border: 1px solid #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
